@charset "UTF-8";

div.container > article > div.content,
div.container > article h1 {
	max-width: 960px;
	margin: 0 auto;
}

div.container > article {
	padding-top: 160px;
}

div.container > article h1 {
	text-transform: uppercase;
}

div.container > article > div.content > blockquote {
	font: normal 22px/28px "Regular", Arial, sans-serif;
}

div.container > article h1,
div.container > article > div.content {
	text-align: center;
}

div.container > article > div.content > p,
div.container > article > div.content > ul {
	font: normal 18px/24px "Regular", Arial, sans-serif;
}

div.container > article > div.content > ul  {
	text-align: left;
	padding: 0;
}

div.container > article > div.content > ul  > li {
	position: relative;
	padding-left: 30px;
}

div.container > article > div.content > ul  > li:before {
	position: absolute;
	content: "\e920";
	width: 20px;
	height: 24px;
	top: 0;
	left: 0;
	font: normal 14px/24px "icomoon";
	color: rgba(0, 124, 162, 1);

}

@media (min-width : 1201px) {
	div.container > article > div.content {
			padding: 30px 60px;
		}

	div.container > article h1 {
		font: normal 70px/70px "Bold", Arial, sans-serif;
		padding: 60px 0;
		}
	}

@media (min-width : 961px) and (max-width : 1200px) {
	div.container > article > div.content {
			padding: 25px 50px;
		}
	div.container > article h1 {
		font: normal 64px/64px "Bold", Arial, sans-serif;
		padding: 50px 0;
		}
	}

@media (min-width : 721px) and (max-width : 960px) {
	div.container > article > div.content {
			padding: 20px 40px;
		}
	div.container > article h1 {
		font: normal 54px/54px "Bold", Arial, sans-serif;
		padding: 40px 0;
		}
	}

@media (min-width : 481px) and (max-width : 720px) {
	div.container > article > div.content {
			padding: 15px 30px;
		}
	div.container > article h1 {
		font: normal 48px/48px "Bold", Arial, sans-serif;
		padding: 30px 0;
		}
	}

@media (max-width : 480px) {
	div.container > article > div.content {
		padding: 10px 20px;
		}
	div.container > article h1 {
		font: normal 40px/40px "Bold", Arial, sans-serif;
		padding: 20px 0;
		}
	}
