@charset "UTF-8";

div.container > header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 30;
	/* цвет фона уточнить! Транзишн - ! */
	background-color: rgba(255, 255, 255, 1);
	transition: height 0.25s ease;
	border-bottom: 1px solid rgba(233, 233, 233, 1);
	}

	div.container > header > a.logo,
	div.container > header > a.logo > span {
		display: block;
		}

		div.container > header > a.logo {
			position: absolute;
			top: 0;
			left: 0;
			height : inherit;
			z-index: 20;
			transition: all 0.25s ease;
		}

		div.container > header > a.logo > span {
			width : 100%;
			height : 100%;
			background-image : url("../img/logo.svg?111020190955");
			background-position : 0% 50%;
			background-repeat : no-repeat;
			background-size : contain;
		}

		div.container > header > a.lang {
			display: block;
			position:absolute;
			width: 45px;
			height: 40px;
			font: normal 20px/37px "Regular", Arial, sans-serif;
			text-transform: uppercase;
			text-align: center;
			color: rgba(0, 124, 162, 1);
			border: 1px solid rgba(0, 124, 162, 1);
			border-radius: 5px;
			transition: all 0.25s ease;
		}

		div.container > header > a.lang:hover {
			border: 1px solid rgba(0, 0, 0, 0.5);
			color: rgba(255, 255, 255, 1);
			background-color: rgba(0, 124, 162,0.5);
		}

@media (min-width : 1201px) {

	div.container > header {
		height: 120px;
	}
	div.container > header > ul.mob_menu {
		display: none;
	}

	div.container > header > a.logo {
		width : 270px;
		padding : 30px 60px;
		}

		div.container > header > a.lang {
			top: 40px;
			right: 60px;
		}

	}

@media (min-width : 961px) and (max-width : 1200px) {
	div.container > header > ul.mob_menu {
		display: none;
	}

	div.container > header {
		height: 110px;
	}

	div.container > header > a.logo {
		width : 250px;
		padding : 25px 50px;
		}

		div.container > header > a.lang {
			top: 35px;
			right: 50px;
		}

	}

@media (min-width : 721px) and (max-width : 960px) {
	div.container > header {
		height: 100px;
	}

	div.container > header > a.logo {
		width : 230px;
		padding : 20px 40px;
		}

		div.container > header > a.lang {
			top: 30px;
			right: 90px;
		}
	}

@media (min-width : 481px) and (max-width : 720px) {
	div.container > header {
		height: 90px;
	}

	div.container > header > a.logo {
		width : 210px;
		padding : 15px 30px;
		}

		div.container > header > a.lang {
			top: 25px;
			right: 80px;
		}
	}

@media (max-width : 480px) {
	div.container > header {
		height: 80px;
	}

	div.container > header > a.logo {
		width : 190px;
		padding : 10px 20px;
		}

		div.container > header > a.lang {
			top: 20px;
			right: 75px;
		}
	}
